
.postInfo__backwardsButton
  display flex
  align-self center
  width 27px
  height 27px
  background-color #c2c2c2
  grid-column 2/4
  grid-row 2/3
  border-radius 27px
  justify-content center
  align-items center
  .postInfo__backwardsButton--icon
    width 15px
    font-weight 300
    color White