.commentsSection__container
  width 90%
  display grid
  grid-template-columns repeat(2, 1fr)
  justify-content space-evenly
  margin auto
  h1:nth-child(1)
    border-bottom 1px solid Complementary-icon
    grid-column 1/2
    justify-self center
    font-size text-size
  h1:nth-child(2)
    grid-column 2/3
    justify-self center
    font-size text-size