@import '../globals'
.footer-container
    height: 10vh
    // border: solid red
.textFooter-container
    display: flex;
    justify-content: center;
    align-items:  center
    margin-top: 2em;
    font-weight: 500;
    font-size: .9rem;
    color: color4;
    // border: solid green;
.socialMedia-container
    display: grid
    width: 45vw
    margin: auto
    margin-top: .6em 
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr)
    height: 2em
    // border: solid blue
.continer-icons
    transform: scale(1.9);
    color: Icon-blue