@import '../globals';
    
.locations-container
    display: flex;
    justify-content: center
    margin-top: .5em;
.grid-container
    display: grid;
    grid-template-rows: 1fr
    grid-gap: 1.8em;
    width: 95vw
    margin-bottom: 1em 
    // border: solid red
.grid-items
    display: flex
    height: 7.2em
    color: White;
    background: Elegant-black;
    border-radius: .6em
    filter:drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
    // border solid blue
.container-data
    align-self end
    width: 100%;
    box-sizing: border-box
.location-img
    position: absolute;
    object-fit: cover;
    opacity: .9
    z-index: 1
    width: 95vw
    height: 7.2em;
    filter: brightness(.9)
    border-radius: .5em;
    // border: solid red
    
.text-container
    position: relative
    margin-right: .3em
    margin-left: .3em;
    z-index: 10
    // border: solid green
.location__tittle
    font-weight: 500;
    fotn-size: 2rem;
    line-height: 1.6em;
.details-text-container
    display flex
    justify-content: space-between
    margin-bottom: .3em
    // border: solid red
.province-text
    font-weight: 300;
    font-size: 1.4rem; 
    line-height: 1em;
.reviews-text
    font-weight: 200;
    font-size: 1.1rem
    
