.introduction-text
    position: absolute
    align-self: center;
    width: 70vw
    margin-top: 55em;
    color: White;
    text-align: center;
    z-index:200;
    // border: solid green;
.title-container
    margin-bottom: 1.9em 
    // border: solid red
.title__text
    font-weight:400;
    font-size: 2.4rem;
.description-text
    font-weight: 300;
    font-size: 2rem;
.walpaper-img
    position: absolute
    width: 100vw
    height: 100vh
    object-fit: cover;
    filter: brightness(.8)
    z-index:0;
    // border: solid red