@import '../globals.styl';
.MenuNav-container
    justify-self: start
    display: flex
    justify-content: space-between
    align-content: center;
    width: 100vw;
    // height: auto;
    z-index 100
    // border: solid red;
    // background: Elegant-black
.MenuNav-container__background
    // position: fixed;
    justify-self: start
    display: flex
    justify-content: space-between
    align-content: center;
    width: 100vw;
    z-index 500
    background-color: Elegant-black
    transition: .5s linear;

.logo-container
    padding: .2em
    // border: solid brown
.hamburger-container
    display: flex
    align-items: center
    width: 1.5em
    margin-right:.6em
    color: White
    // border: solid green
.logo-img
    width: 3.5em;
    height: 3.5em
    color: #fff
 