.postRankings__container
  display flex
  flex-direction column
  flex-wrap wrap
  justify-content flex-start
  align-items center
  max-width 90%
  height 37px
  margin auto
  padding 2px 5px 0 5px
  overflow-x scroll
  overflow-y hidden