.postRanking__item
  display flex
  width 29px
  height 29px
  justify-content center
  align-items center
  margin-right 8.3px
  border 1px solid Elegant-black
  border-radius 100%
  overflow hidden
  .postRanking__item--close
    position absolute
    display flex
    width 8px
    height 8px
    justify-content center
    align-self flex-start
    transform translateX(10px)
    background Letter-orange
    border-radius 100%
    overflow hidden
    font-size 5px
    font-weight 300
    text-align center
    color White
  .postRanking__item--emoji
    width 20px
    height 20px
    text-align center
    font-size footer-text-size - 0.4