.rankingBar__container
  display flex
  justify-content flex-end
  align-items center
  width 288px
  height 50px
  margin 10px 5%
  border-radius 12px
  box-shadow 0 4px 4px #c2c2c2
  color Elegant-black
  .rankingBar__emoji
    width 30px
  .rankingBar__title
    font-size text-size
    font-weight 400

.rankingBar__bar
  width 70%
  height 5px
  margin 10px
  background #c2c2c2
  border-radius 5px
  overflow hidden
  .rankingBar__bar--percentage
    height 100%

.rankingBar__bar.isRating
  height 18px
  border-radius 18px
  .rankingBar__bar--percentage
    width 50%
    background Complementary-icon

.rankingBar__bar--rankStatus
  font-weight 500
  position absolute
  align-self flex-end
  transform translate(-10px, -3px)
