.postRanking__item
  display flex
  width 29px
  height 29px
  justify-content center
  align-items center
  margin-right 8.3px
  border 1px solid Elegant-black
  border-radius 100%
  overflow hidden
  img
    width 20px
    height 20px
    text-align center
    font-size footer-text-size - 0.4