.signUserForm__inputContainer
  width 258px
  height 46px
  margin-bottom 20px
  .signUserForm__title
    font-size text-size
    font-weight 500
    color White
  .signUserForm__input
    width 100%
    padding 4px 10px
    font-family Main-font
    font-size text-size
    font-weight 300
    background transparent
    border 1px solid White
    border-radius 20px
    outline none
    color White
