.menuBar-container 
    display: grid
    grid-template-rows: repeat(4,1fr)
    justify-items: center
    align-items center
    position: fixed
    width: 100%;
    z-index: 500;
    // border:solid blue;
    background: Elegant-black;
    transition: .5s linear; 
    overflow: hidden
.menu__links
    text-decoration: none;
    font-size: 2.4rem
    color:White
.socialMedia-container__menu
    display: grid
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3.5em
    margin-bottom: 1em
.icons
    color: Backg-blue;
    transform: scale(2)
