
.submitPostButton__container
  width 144px
  height 42px
  display flex
  justify-content center
  width 50%
  margin 20px auto
  border-radius 20px
  .submitPostButton__button
    width 144px
    border none
    background Complementary-icon
    border-radius 20px
    font-family Main-font
    font-size text-size
    font-weight 300
    color White