.postInfo__creator--image
  display flex
  justify-content center
  width 43px
  height 43px
  border-radius 43px
  overflow hidden
  z-index 0
  img
    height 100%

.postInfo__creator--image.firstPhoto
  transform translateX(75px)
  z-index 30
  img
    height 150%

.postInfo__creator--image.secondPhoto
  transform translateX(50px)
  z-index 20
  img
    height 150%

.postInfo__creator--image.thirdPhoto
  transform translateX(25px)
  z-index 10
  img
    height 150%

.postInfo__creator--image.isProfile
  width 82px
  height 82px
  border-radius 82px

.postInfo__creator--image.isComment
  align-self flex-start
