
.postInfo__weather
  width 60px
  display flex
  justify-content flex-end
  align-items center
  justify-self flex-end
  grid-column 13/16
  grid-row 2/3
  font-family Main-font
  color White
  img
    width 28px
    height 28px
  h1
    font-weight 400
    font-size text-size
