@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import 'vars.styl'

*
  padding 0
  margin 0
  box-sizing border-box

html
  font-size 62.5%
  font-family Main-font
  scroll-behavior smooth

body::-webkit-scrollbar {
  width 0.5rem
}

body::-webkit-scrollbar-thumb {
  background-color Icon-blue
  outline none
}

body
  overflow-x hidden
