.commentResponsesLayout__container
  display flex
  align-items flex-end
  justify-content flex-start
  margin 2px 0 20px 0
  .commentResponsesLayout__item
    display flex
    justify-content flex-start
    align-items center
    width 206px
    height fit-content
    margin-left 10px
    border-radius 12px
    background #c2c2c2
    overflow hidden
    .userCommentLayout__item--comment
      margin 10px
      line-height 2
      font-size mini-text-size
      font-weight 400
