
keyframe-name = contribution-animation
keyframe-name2 = forum-animation

@keyframes keyframe-name
  from
    width 0px
  to
    width 103px

@keyframes keyframe-name2
  from
    width 0px
  to
    width 53px


.commentsSection__container
  width 90%
  display grid
  grid-template-columns repeat(2, 1fr)
  justify-content space-evenly
  margin 20px auto 0 auto
  .commentsSection__forum
    margin-bottom 10px
    font-size sub-title-size
    font-weight 700
    color Elegant-black
  .commentsSection__item
    width fit-content
    justify-self center
    text-decoration none
    text-align center
    font-size text-size
    font-weight 400
    color Elegant-black

.commentsSection__item.isContribution
  color Icon-blue

.commentsSection__item.isContribution::before
  content ''
  position absolute
  width 103px
  animation-name keyframe-name
  animation-duration 0.5s
  transform translateY(20px)
  border-bottom 1px solid Letter-orange

.commentsSection__item.isForum
  color Icon-blue

.commentsSection__item.isForum::before
  content ''
  position absolute
  width 53px
  animation-name keyframe-name2
  animation-duration 0.5s
  transform translateY(20px)
  border-bottom 1px solid Letter-orange
