.createPostButton__container
  display flex
  justify-content center
  width 30%
  margin 20px auto
  text-decoration none
  .createPostButton__button
    width 155px
    height 33px
    border none
    border-radius 20px
    background Icon-blue
    font-family Main-font
    font-weight 400
    font-size text-size
    color White
    cursor pointer

