.footer__container
  display flex
  flex-direction column
  justify-content center
  align-items center
  margin 40px auto 20px auto

.footer__copyright
  font-size mini-text-size
  font-weight 500
  color Elegant-black

.footer__socialMedia
  display flex
  a
    font-size sub-title-size
    color Complementary-icon
    margin 7px 7px