.introductionTitle__container
  grid-column 1/17
  grid-row 12/15
  width 287px
  height 107px
  display flex
  gap 30px
  justify-self center
  flex-direction column
  justify-content center
  align-items center
  color White
  .introductionTitle__title--container
    display flex
    justify-content center
    .introductionTitle__title--text
      font-weight 500
      font-size title-size
  .introduction__title--description
    font-weight 300
    font-size sub-title-size