.lostLocations__container
  width 100%
  overflow hidden

.lostLocations__title--container
  width 95%
  margin 20px auto
  .lostLocations__title
    text-align left
    font-weight: 700;
    font-size: title-size;
    text-transform uppercase
    color: Complementary-icon;

.filtersAdded__container
  width 95%
  margin auto
  display flex