.postRankings__container
  display flex
  justify-content flex-start
  align-items center
  max-width 90%
  margin auto
  overflow-x auto
  overflow-y hidden
  .postRankings__flex
    display flex
    flex-wrap nowrap
    min-width fit-content
    padding 2px 5px 0 5px
    overflow-x scroll

.postRankings__container::-webkit-scrollbar
  width 100%
  height 5px
  background Letter-orange
  border-radius 10px

.postRankings__container::-webkit-scrollbar-thumb
  background transparent
