.postRankings__container
  display flex
  justify-content flex-start
  align-items center
  max-width 90%
  margin auto
  overflow-x scroll
  overflow-y hidden
  .postRankings__flex
    display flex
    flex-wrap nowrap
    min-width fit-content
    padding 2px 5px 0 5px
    overflow-x scroll