.postRanking__item
  display flex
  width 39px
  height 39px
  justify-content center
  align-items center
  margin-right 8.3px
  border 1px solid Elegant-black
  background transparent
  border-radius 100%
  overflow hidden
  cursor pointer

.postRanking__close--container
  position absolute
  width 12px
  height 12px
  display flex
  justify-content center
  align-items center
  // Self flexing
  align-self flex-start
  background Letter-orange
  border-radius 20px
  transform translate(15px, -3px)
  overflow hidden

.postRanking__item--close
  font-size 5px
  text-align center
  font-weight 300
  color White

.postRanking__item--emoji
  width 30px
  height 30px
  text-align center
  font-size footer-text-size - 0.4
