.searchBar__container
  width 95%
  padding 5px
  display flex
  justify-content space-between
  align-items center
  margin auto
  margin-bottom 10px
  box-shadow 0px 0px 4px #c2c2c2
  border-radius 20px
  overflow hidden
  .searchBar__input
    width 90%
    outline none
    border none
    margin-left 2px
    font-family Main-font
    font-size text-size
    font-weight 500
    color Complementary-icon
  .searchBar__input::placeholder
    color #c2c2c2
  .searchBar__icon
    font-size 15px
    margin-right 5px
    color Letter-orange
    cursor pointer


