.signIn__container
  width 100vw
  height 100vh
  display grid
  grid-template-columns 1fr
  grid-template-rows repeat(8, 1fr)
  overflow hidden

.signIn__wallpaper--container
  width 100%
  height 100%
  display flex
  justify-content center
  grid-column 1
  grid-row 1/9
  overflow hidden
  .signIn__wallpaper
    height 100%
