.slideMenuBar__container
  display flex
  flex-direction column
  justify-content center
  align-items center
  gap 0px
  width 100%
  height 0%
  transition .5s linear
  overflow hidden
  .slideMenuBar__links
    font-size title-size
    font-weight 400
    text-decoration none
    color Elegant-black
    opacity 0
    transition .5s ease-in
    cursor pointer

.slideMenuBar__icon--container
  width 125px
  display flex
  justify-content space-between
  .slideMenuBar__icon--item
    margin-top 20px
    color Complementary-icon
    transform scale(2)

.slideMenuBar__container.isOpen
  gap 20px
  height 80%
  .slideMenuBar__links
    opacity 1