.postInfo__creator--photoContainer
  display flex
  justify-content center
  width 43px
  height 43px
  border-radius 43px
  overflow hidden
  z-index 0
  text-decoration none
  .postInfo__creator--photo
    height 100%
    color White

.postInfo__creator--verified
  width 15px
  transform translateX(20px)
  position absolute

.postInfo__creator--photoContainer.isProfile
  width 82px
  height 82px
  border-radius 82px

.postInfo__creator--photoContainer.isComment
  align-self flex-start
