@import './globals';
@import './vars';

.menu-container
    background-color: color4;
    position: absolute
.notFound-container
    display: flex
    flex-direction: column
    justify-content: center
    width: 100vw
    height: 100vh
    background: Elegant-black
.ilustration-container
    width: 95vw
    align-self: center
.Notfound__message
    font-weight: 500;
    text-align: center
    font-size: 2em;
    line-height: 68.9%;
    color: White
.message-container
    align-self center;
    margin-top: 3em 
    margin-bottom: 1.5em 
    width: 65vw;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1em;
    text-align: center
    color: White
.link-places__container
    display: flex
    justify-content: center
.link-text
    align-self: center
    padding: .5em
    text-decoration: none
    font-weight: 500;
    font-size: .9em
    color: Complementary-icon
.compass__img
    width: 15vw