@import './globals';
@import './vars';

.sign-in-container
    display: flex;
    flex-direction: column
    // justify-content: center
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    // border: 2px solid red;
.inputsSignIn-container
    align-self center
    display: grid
    grid-template-rows: repeat(2, 1fr)
    justify-content: center 
    grid-gap: 1.5em
    width: 90vw
    margin-top: 30vh 
    color: White
    z-index: 500
    // border: solid red
.inputs-text
    padding: .5em
.login__buttom
    width: 40vw
    padding: .5em
    justify-self: center
    background-color: Letter-orange;
    color: White
    border:none;
    border-radius: 2em
    font-weight: 200
    font-size: 1.4rem;
.question-container
    display: flex;
    flex-direction: column
.question__text
    justify-self: center;
    align-self center
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1em;
    text-align: center;
.signUp__link
    justify-self: center;
    align-self center
    text-decoration: none;
    color: Button-blue;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1em;
    text-align: center;
    z-index 500