
// Colors
Backg-blue = #2BEBDF
Icon-blue = #00998F
Button-blue = #BBFAF6
Elegant-black = #2A2933
Soft-gray = #739997
Letter-brown = #59473E
Letter-orange = #EB6B2A
Complementary-icon = #F28A55
White = #FFFFFF

// Fonts-properties
// light, Regular, Medium, Semi-bold, Bold
Main-font = 'Montserrat', sans-serif
title-size = 2.4rem
sub-title-size = 2rem
text-size = 1.6rem
mini-text-size = 1.2rem
footer-text-size = 0.8rem
